<table class="container" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="middle" align="center">
			<div class="width">

			<table class="content content_title" align="center" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="middle" class="view_link" colspan="2">
						{VIEW_LINK_TEXT}
					</td>
				</tr>
				<tr>
					<td valign="middle" class="branding_html" data-builder="branding_html" colspan="2">
						{BRANDING_HTML}
					</td>
				</tr>
				<tr>
					<td class="title" data-builder="title_color" colspan="2">
						<div data-builder="email_title">
							{EMAIL_TITLE}
						</div>
					</td>
				</tr>
				<tr>
					<td class="from" data-builder="from_name">
						{FROM_NAME}
					</td>
					<td class="from text_right" data-builder="from_email">
						{FROM_EMAIL}
					</td>
				</tr>
			</table>
			<table class="content content_main" align="center" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="email_content" data-builder="body_color">
						<div data-builder="email_content">
							{EMAIL_BODY}
						</div>
					</td>
				</tr>
				<tr>
					<td class="contact_info" data-builder="body_color">
						<div data-builder="contact_info">
							{CONTACT_INFO}
						</div>
					</td>
				</tr>
			</table>

			<table class="content content_unsubscribe" align="center" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="unsubscribe">
						Not interested anymore? <a href="{UNSUBSCRIBE_URL}">Unsubscribe Instantly.</a>
					</td>
				</tr>
			</table>

			</div>
		</td>
	</tr>
</table>