/*

Email-Newsletter CSS Styles

*/


/*  Progressbar */
.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-bottom,
.enewsletter_progressbar .ui-corner-right,
.enewsletter_progressbar .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-bottom,
.enewsletter_progressbar .ui-corner-left,
.enewsletter_progressbar .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-top,
.enewsletter_progressbar .ui-corner-right,
.enewsletter_progressbar .ui-corner-tr {
    -moz-border-radius-topright: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-top,
.enewsletter_progressbar .ui-corner-left,
.enewsletter_progressbar .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
}

.enewsletter_progressbar .ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
}

.enewsletter_progressbar .ui-progressbar {
    width: 500px;
    height: 22px;
    text-align: left;
}

.enewsletter_progressbar .ui-progressbar .ui-progressbar-value {
    margin: 0px;
    height:100%;
}

.enewsletter_progressbar .ui-progressbar-value {
    background-image: url('../images/pbar-ani.gif');
}

.enewsletter_progressbar #progressbar {
    position: relative;
}
.enewsletter_progressbar #progressbar_text {
    font-weight: bold;
    position: absolute;
    left: 233px;
    top: 4px;
    z-index: 1001;
}

/* End of Progressbar */


.red {
    color: red;
}

.settings-form td {
    padding: 8px 10px;
}

/* Add member block */

.panel {
    background: #F9F9F9;
    border: solid 1px #DFDFDF;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    display: none;
    margin: 10px 0 0 0;
}

.panel form {
    padding: 0px 20px 0px 20px;
}

.panel .create_member, .panel .export_members {
    width: 430px;
    padding: 10px 40px 10px 0px;
    margin : 0px 10px 0px 20px;
}

.panel .import_members {
    padding: 10px 0px 10px 0px;
    margin : 0px 20px 0px 20px;
}

.slide {
    margin: 0;
    padding: 0;
    background: none transparent no-repeat center top;
    width: 95%;
    margin : 0;
}

/* End Add member block */

th.check-column {
padding: 0px 0px 0px 0px !important;
vertical-align: middle !important;
}

#send_form table td {
    padding: 20px 30px 20px 30px;
}

#send_form #send {
    margin: 20px 30px 20px 30px;
}

.sent_count {
    margin: 20px 30px 20px 30px;
}

.contact-information, .view-browser, .branding-html {
    width: 450px;
    height: 150px;
}
#send_list th,
#send_list td {
    vertical-align: middle;
}

.newsletter_table_center th,
.newsletter_table_center td,
#groups_table td  {
    vertical-align: middle;
}

.newsletter_error {
    background: #FFEBE8;
}


#test_bounce_loading, #test_smtp_loading  {
    width: 15px;
    height: 15px;
    background: url("../images/loading-publish.gif") #fff no-repeat center center;
    display: none;
    float: right;
    margin: 3px 0px 0px 0px;
}

.table_slim {
	width:auto;
}
.table_centered {
    text-align: center;
}
#subscribes_table input {
	margin-right:5px;
}
#newsletter_user_permissions {
	overflow:hidden;
}
#newsletter_user_permissions .postbox {
	float:left;
	margin:5px;
}
#timestampdiv {
    display: none;
}

.members-join, .members-groups {
    min-width: 180px;
}
.members-count {
    min-width:75px;
}

.newsletters_actions {
    width:230px;
}
.newsletter-subject {
    width:150px;
}
.newsletter-template {
    width:100px;
}
.members-actions {
    width:230px;
}
.panel_margin {
    margin: 10px 0;
}
.newsletter-id {
    width: 50px;
}
.wpmudev-help {
    margin:10px 0;
}
#tip_smtp, #tip_php {
    margin-right: 10px;
}
.newsletter-settings-tabs {
    display: none;
}
#sending_form p.submit {
    text-align: center;
}
.shortcode-help{
    padding: 0 1em;
    background-color: white;
    border:1px solid silver;
}