/*

Email-Newsletter CSS Styles

*/


/*  Progressbar */
.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-bottom,
.enewsletter_progressbar .ui-corner-right,
.enewsletter_progressbar .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-bottom,
.enewsletter_progressbar .ui-corner-left,
.enewsletter_progressbar .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-top,
.enewsletter_progressbar .ui-corner-right,
.enewsletter_progressbar .ui-corner-tr {
    -moz-border-radius-topright: 4px;
}

.enewsletter_progressbar .ui-corner-all,
.enewsletter_progressbar .ui-corner-top,
.enewsletter_progressbar .ui-corner-left,
.enewsletter_progressbar .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
}

.enewsletter_progressbar .ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
}

.enewsletter_progressbar .ui-progressbar {
    width: 500px;
    height: 22px;
    text-align: left;
}

.enewsletter_progressbar .ui-progressbar .ui-progressbar-value {
    margin: 0px;
    height:100%;
}

.enewsletter_progressbar .ui-progressbar-value {
    background-image: url(images/pbar-ani.gif);
}

.enewsletter_progressbar #progressbar {
    position: relative;
}
.enewsletter_progressbar #progressbar_text {
    font-weight: bold;
    position: absolute;
    left: 45%;
    top: 2px;
    z-index: 1001;
}

/* End of Progressbar */


.red {
    color: red;
}

.settings-form td {
    padding: 8px 10px;
}


.updated {
    background-color: #FFFFE0;
    border-color: #E6DB55;
    margin: 5px 0 15px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0 0.6em;
}

/* Add member block */

#panel {
    background: #F9F9F9;
    border: solid 1px #DFDFDF;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    display: none;
    width: 95%;
    margin: 10px 0px 30px 0px;
}

#panel form {
    padding: 0px 20px 0px 20px;
}

#panel .create_mamber {
    width: 430px;
    border-right: solid 1px #555;
    padding: 10px 40px 10px 0px;
    margin : 0px 10px 0px 20px;
}

#panel .import_members {
    padding: 10px 0px 10px 0px;
    margin : 0px 20px 0px 20px;
}

.slide {
    margin: 0;
    padding: 0;
    background: none transparent no-repeat center top;
    width: 95%;
    margin : 10px 0px 20px 0px;
}

/* End Add member block */

th.check-column {
padding: 0px 0px 0px 0px !important;
vertical-align: middle !important;
}

#send_form table td {
    padding: 20px 30px 20px 30px;
}

#send_form #send {
    margin: 20px 30px 20px 30px;
}

.sent_count {
    margin: 20px 30px 20px 30px;
}

.contact-information, .view-browser {
    width: 300px;
    height: 100px;
}
#send_list th,
#send_list td {
    vertical-align: middle;
}

.newsletter_table_center th,
.newsletter_table_center td,
#groups_table td  {
    vertical-align: middle;
}

.newsletter_error {
    background: #FFEBE8;
}


#test_bounce_loading, #test_smtp_loading  {
    width: 15px;
    height: 15px;
    background: url("images/loading-publish.gif") #fff no-repeat center center;
    display: none;
    float: right;
    margin: 3px 0px 0px 0px;
}

#groups_table {
	width:auto;
}
#subscribes_table input {
	margin-right:5px;
}
#newsletter_user_permissions {
	overflow:hidden;
}
#newsletter_user_permissions .postbox {
	float:left;
	margin:5px;
}
#timestampdiv {
    display: none;
}