<table width="100%" border="0" cellspacing="0" cellpadding="0" data-builder="bg_color" style="padding: 10px 100px 10px 100px; background-color: {BG_COLOR}; margin: 0; font-family:Helvetica, Arial, Sans-serif; line-height:22px; color:#222222; font-size:12px;">
	<tr>
		<td>
			<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="middle">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td data-builder="header_image" style="padding-top:20px;">
									<h1 data-builder="email_title" style="font-size:40px; line-height:40px; margin:0px; padding-bottom:10px;">{EMAIL_TITLE}</h1>
									<img data-builder="header_image" src="{HEADER_IMAGE}" width="600" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
	
			<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="middle">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top:1px solid #cecece; background-color:#ffffff; border-left:1px solid #cecece; border-right:1px solid #cecece;">
							<tr>
								<td style="padding:20px; font-size:12px; line-height:22px;">
									<h1 style="font-size:18px; line-height:18px;">From <span data-builder="from_name">{FROM_NAME}</span> (<span data-builder="from_email">{FROM_EMAIL}</span>)</h1>
									<div data-builder="email_content">{EMAIL_BODY}</div>									
								</td>
							</tr>
						</table>
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#FFF;">
							<tr>
								<td style="padding-top:10px; text-align:center; color:#666666; font-size:11px;">
									<p data-builder="contact_info">{CONTACT_INFO}</p>
									<p>Not interested anymore? <a data-builder="link_color" href="{UNSUBSCRIBE_URL}" style="color:{LINK_COLOR};">Unsubscribe</a> Instantly.</p>
								</td>
							 </tr>
						</table>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="20" style="background-image: url('images/footer.png'); background-repeat: no-repeat; width: 100%;"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>