<body data-builder="bg" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background="{BG_IMAGE}" style="padding: 30px 0 30px 0; margin: 0; background-color: {BG_COLOR}; font-family: Arial,Sans-serif; line-height:22px; color:#ffffff; font-size:12px;">
<div data-builder="bg" style="background-color: {BG_COLOR};">
<table data-builder="bg" data-builder="bg" background="{BG_IMAGE}" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-image: url({BG_IMAGE});">
	
	<tr>
		<td>

			<table data-builder="body_color" width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top:30px; padding-bottom:10px;">
				<tr>
					<td colspan="2" style="color:#aaaaaa; font-size:20px; line-height:20px; font-weight:bold; padding-bottom:10px; padding-left:5px;">
					</td>
				</tr>
				<tr>
					<td  colspan="2">
						<h1 data-builder="email_title"  style="font-size:55px; line-height:55px; margin:0px; padding-bottom:10px; color:#99aa00;">{EMAIL_TITLE}</h1>
					</td>
				</tr>
				<tr>
					<td>
						<h2 style="font-size:16px; line-height:22px; color:#99aa00;" data-builder="from_name">
							{FROM_NAME}
						</h2>
					</td>
					<td style="text-align:right; padding-bottom:10px;">
						<h2 style="font-size:16px; line-height:22px; color:#99aa00;" data-builder="from_email">
							{FROM_EMAIL}
						</h2>
					</td>
				</tr>
			</table>

			<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-bottom:10px;">
				<tr>
					<td data-builder="body_color" style="font-size:12px; line-height:22px; color: {BODY_COLOR};" colspan="2">
							<div data-builder="email_content">
								{EMAIL_BODY}
							</div>
						<pre data-builder="contact_info">{CONTACT_INFO}</pre>
					</td>
				</tr>
			</table>

			<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-bottom:30px;">
				<tr>
					<td data-builder="body_color" style="padding-top:10px; text-align:center; color: {BODY_COLOR}; font-weight:bold;">
						Not interested anymore? <a href="{UNSUBSCRIBE_URL}" style="color:{LINK_COLOR};">Unsubscribe Instantly.</a>
					</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>